{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<div><h1>SQL Check</h1>
<h5>Your database: {{ filename }}</h5></div>
//<a>Update</a> <a>Create</a> <a>Delete</a>//
<div class="table">
    <table>
        <tr>
            {% for col in columns %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for row in rows %}
        <tr>
            {% for column in row %}
            <td>{{ column }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}